@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#title {
  font-size: 30px;
  font-family: 'Righteous';
}

.icon_calc {
    width: 30PX;
    background-size: cover;
    display: flex;
}

.foot h1 {
  font-family: 'Righteous';
}

body {
  font-size: 100%;
  background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
}

.cabecalho {
    font-family: 'Righteous';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #15181b00;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  border-top: 0.5px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous';
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 150px;
  height: 40px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Righteous';
  font-weight: 400;
  font-size: 22px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
margin-top: 120px;
  height: 420px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  padding-bottom: 5%;
}


.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}

/* */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");


h1 {
    text-align: center;
}

/* Mod -- somente daqui p cima */

header {
    padding: 25px;
}

header form input[type=text] {
    background: #FFF;
    width: 100%;
    border-radius: 100px;
    border: none;
    padding: 10px 20px;
}
