body {
    background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(49, 47, 47, 0.685);
    width: 500px;
    padding: 15px;
    margin: auto;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
}